@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(billiebarred.woff) format('woff'),
    url(billiebarred.ttf) format('ttf');
}

@font-face {
    font-family: "QuartZite";
    src: url(SF-Quartzite-Shaded.ttf.woff) format('woff'),
    url(SF-Quartzite-Shaded.ttf) format('ttf');
}

@font-face {
    font-family: "Sony Sketch";
    src: url(Sony-Sketch-EF.ttf) format('ttf'),
    url(Sony-Sketch-EF.ttf.woff) format('woff');
}

/*
    Build and Repair Service website
    Author: Dmitrii Sumenko
    Date: 8/01/2022

    Filename: support_styles.css

    This file contains common styles for all html pages
*/

/* BASE STYLES FOR ALL SCREEN SIZES */



/*       ===========================
         Mobile Styles: 0px to 640px
         ===========================
*/

@media only screen and (max-width: 640px) {

    /* Navigation styles*/

    ul.mainmenu {
        display: block;
    }

    ul.mainmenu > li {
        text-indent: 15px;
    }

    ul.mainmenu > li:first-of-type a {
        color: white;
        background-color: rgb(31, 73, 125);
    }

    ul.submenu {
        width: 100%;
        background-color: rgb(170, 255, 255);
        font-family: billieBarred, cursive;
        font-size: 1em;
        line-height: 1.8em;
    }

    nav.horizontalNavigation {
        display: none;
    }

    nav.mobileMenu a {
        display: block;
        font-size: 1.5em;
    }

    nav.mobileMenu a:visited, nav.mobileMenu a:link {
        color: rgb(31, 73, 125);
    }

    nav.mobileMenu a:hover, nav.mobileMenu a:active {
        background-color: rgb(31, 73, 125);
        color: white;
    }

    /* Pull down Menu Styles */

    ul.submenu {
        display: none;
    }

    a.submenuTitle:hover + ul.submenu, ul.submenu:hover {
        display: block;
    }

    a.submenuTitle {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
    }

    /* other styles*/

    body {
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
    }

    footer {
        width: 100%;
    }

}

/*       =========================================
         Tablet Styles: 641px and less than 1007px
         =========================================
*/

@media only screen and (min-width: 641px) and (max-width: 1007px){

    /* Navigation styles*/

    nav.horizontalNavigation {
        display: none;
    }

    ul.mainmenu {
        display: block;
    }

    ul.mainmenu > li {
        text-indent: 15px;
    }

    ul.mainmenu > li:first-of-type a {
        color: white;
        background-color: rgb(31, 73, 125);
    }

    ul.submenu {
        width: 100%;
        background-color: rgb(170, 255, 255);
        font-family: billieBarred, cursive;
        font-size: 1em;
        line-height: 1.8em;
    }

    nav.mobileMenu a {
        display: block;
        font-size: 1.5em;
    }

    a.submenuTitle {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
    }

    nav.mobileMenu a:visited, nav.mobileMenu a:link {
        color: rgb(31, 73, 125);
    }

    nav.mobileMenu a:hover, nav.mobileMenu a:active {
        background-color: rgb(31, 73, 125);
        color: white;
    }

    /* Pull down Menu Styles */

    ul.submenu {
        display: none;
    }

    a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
        display: block;
    }

    /* other styles */

    body {
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
    }

    footer {
        width: 100%;
    }

}

/*       ==================================
         Desktop Styles: 1008px and greater
         ==================================
*/

@media only screen and (min-width: 1008px) {

    nav.mobileMenu {
        display: none;
    }

    footer {
        width: 100%;
    }
}