@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(billiebarred.woff) format('woff'),
    url(billiebarred.ttf) format('ttf');
}

@font-face {
    font-family: "QuartZite";
    src: url(SF-Quartzite-Shaded.ttf.woff) format('woff'),
    url(SF-Quartzite-Shaded.ttf) format('ttf');
}

@font-face {
    font-family: "Sony Sketch";
    src: url(Sony-Sketch-EF.ttf) format('ttf'),
    url(Sony-Sketch-EF.ttf.woff) format('woff');
}

/*
    Build and Repair Service website
    Author: Dmitrii Sumenko
    Date: 4/14/2022

    Filename: contacts_styles.css

    This file contains the layout and styles for contacts.html
*/

/* all screen sizes */

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        color: cornflowerblue;
        text-shadow: aqua 2px 2px;
        border-bottom: navy 6px double;
        width: 50%;
        margin: 40px auto 40px auto;
        text-align: center;
        padding-bottom: 20px;
    }

    p#description {
        display: block;
        text-align: center;
        margin: 40px auto 40px auto;
        padding-bottom: 40px;
        width: 70%;
        font-size: 1.4em;
        font-family: "Times New Roman", Verdana, Geneva, sans-serif;
        border-bottom: navy 6px double;
    }

    h2 {
        display: block;
        margin: 0 auto 0 auto;
        text-align: center;
        width: 70%;
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2em;
    }

    h3 {
        display: block;
        margin: 10px auto 10px auto;
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 1.5em;
        width: 70%;
        text-align: center;
    }

    article p {
        display: block;
        margin: 10px auto 10px auto;
        font-family: "Times New Roman", Verdana,Geneva, sans-serif;
        font-size: 1.5em;
        width: 70%;
        text-align: center;
    }


/*       ===========================
         Mobile Styles: 0px to 640px
         ===========================
*/

@media only screen and (max-width: 640px) {
    
    /* other styles*/

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 70%;
    }

    div#map img {
        display: block;
        width: 80%;
        height: auto;
        margin: 40px auto 40px auto;
    }
}


/*       =========================================
         Tablet Styles: 641px and less than 1007px
         =========================================
*/

@media only screen and (min-width: 641px) and (max-width: 1007px){

    /* other styles*/

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 70%;
    }

    div#map img {
        display: block;
        width: 80%;
        height: auto;
        margin: 40px auto 40px auto;
    }
}


/*       ==================================
         Desktop Styles: 1008px and greater
         ==================================
*/

@media only screen and (min-width: 1008px){

    div#map img {
        display: block;
        width: 60%;
        height: auto;
        margin: 40px auto 40px auto;
    }
}
