@charset "utf-8";

/*
   Filename: home_reset.css
*/

/* Structural Styles */


/* Typographic Styles */

   nav, ul {

        font-size: 100%;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


/* =============================================
	Tablet layout styles used by devices
	601px to 768px and cascaded to larger 
	devices.
   =============================================
*/


@media only screen and (min-width: 601px) {

body {
	min-height: 100%;
}

/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/

@media only screen and (min-width: 769px) {

html {
	background-color: #92ad57;
}

body {
	width: 90%;
	max-width: 1020px;
	-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
}

}
