@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(billiebarred.woff) format('woff'),
    url(billiebarred.ttf) format('ttf');
}

@font-face {
    font-family: "QuartZite";
    src: url(SF-Quartzite-Shaded.ttf.woff) format('woff'),
    url(SF-Quartzite-Shaded.ttf) format('ttf');
}

@font-face {
    font-family: "Sony Sketch";
    src: url(Sony-Sketch-EF.ttf) format('ttf'),
    url(Sony-Sketch-EF.ttf.woff) format('woff');
}

/*
    Build and Repair Service website
    Author: Dmitrii Sumenko
    Date: 8/01/2022

    Filename: repair_styles.css

    This file contains the layout and styles for repair.html

*/

/* BASE STYLES FOR ALL SCREEN SIZES */

h1#title {
    font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: cornflowerblue;
    text-shadow: aqua 2px 2px;
    border-bottom: navy 6px double;
    width: 50%;
    margin: 40px auto 40px auto;
    text-align: center;
    padding-bottom: 20px;
}

div.cell {
    display: block;
    float: left;
    width: 38%;
    margin: 40px 40px 40px 75px;
    horiz-align: center;
    border-radius: 20px;
    border: turquoise 3px ridge;
    padding: 20px;
    height: 400px;
}
div.cell img {
    width: 60%;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}
div.cell h4 {
    text-align: center;
    font-size: 1.7em;
    font-family: "Sony Sketch", "Lucida Sans", sans-serif;
}

div.cell h2 {
    text-align: center;
    font-family: "Sony Sketch", "Lucida Sans", sans-serif;
    font-size: 2.5em;
    color: darkred;
}

/*       ===========================
         Mobile Styles: 0px to 640px
         ===========================
*/

@media only screen and (max-width: 640px) {

    /* other styles*/

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 70%;
    }

    div.cell {
        display: block;
        float: left;
        width: 80%;
        margin: 40px 40px 40px 40px;
        border-radius: 20px;
        border: turquoise 3px ridge;
        padding: 20px;
        height: auto;
    }
}

/*       =========================================
         Tablet Styles: 641px and less than 1007px
         =========================================
*/

@media only screen and (min-width: 641px) and (max-width: 1007px){

    /* other styles */

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 60%;
    }

    div.cell {
        display: block;
        float: left;
        width: 80%;
        margin: 40px 40px 40px 80px;
        border-radius: 20px;
        border: turquoise 3px ridge;
        padding: 20px;
        height: auto;
    }

}

/*       ==================================
         Desktop Styles: 1008px and greater
         ==================================
*/

@media only screen and (min-width: 1008px) {
    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 60%;
    }
    div.cell {
        display: block;
        float: left;
        width: 38%;
        margin: 40px 40px 40px 75px;
        horiz-align: center;
        border-radius: 20px;
        border: turquoise 3px ridge;
        padding: 20px;
        height: 400px;
    }
    div.cell img {
        width: 60%;
        margin: 20px auto 20px auto;
        border-radius: 10px;
    }
    div.cell h4 {
        text-align: center;
        font-size: 1.5em;
        font-family: "Sony Sketch", "Lucida Sans", sans-serif;
    }

    div.cell h2 {
        text-align: center;
        font-family: "Sony Sketch", "Lucida Sans", sans-serif;
        font-size: 2.5em;
        color: darkred;
    }
}
