@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(../fonts/billiebarred.woff) format('woff'),
    url(../fonts/billiebarred.ttf) format('ttf');
}

@font-face {
    font-family: "QuartZite";
    src: url(../fonts/SF-Quartzite-Shaded.ttf.woff) format('woff'),
    url(../fonts/SF-Quartzite-Shaded.ttf) format('ttf');
}

@font-face {
    font-family: "Sony Sketch";
    src: url(../fonts/Sony-Sketch-EF.ttf) format('ttf'),
    url(../fonts/Sony-Sketch-EF.ttf.woff) format('woff');
}

/*
    Build and Repair Service website
    Author: Dmitrii Sumenko
    Date: 8/01/2022

    Filename: about_styles.css

    This file contains the layout and styles for about.html

*/

/* BASE STYLES FOR ALL SCREEN SIZES */

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        color: cornflowerblue;
        text-shadow: aqua 2px 2px;
        border-bottom: navy 6px double;
        width: 60%;
        margin: 40px auto 40px auto;
        text-align: center;
        padding-bottom: 20px;
    }

/*       ===========================
         Mobile Styles: 0px to 640px
         ===========================
*/

@media only screen and (max-width: 640px) {

/* other styles*/

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 90%;
    }
}

/*       =========================================
         Tablet Styles: 641px and less than 1007px
         =========================================
*/

@media only screen and (min-width: 641px) and (max-width: 1007px){

/* other styles */

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

/*       ==================================
         Desktop Styles: 1008px and greater
         ==================================
*/

@media only screen and (min-width: 1008px) {

}