@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(../fonts/billiebarred.woff) format('woff'),
    url(../fonts/billiebarred.ttf) format('ttf');
}

/*
    Filename: basics.css
    This file contains the basic layout styles for every page

*/


/* HTML and Body Styles */

    html {
        background-image: linear-gradient(to bottom right, gray, azure);
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
    }

    html body {
        background: azure;
        box-shadow: rgb(51, 51, 51) 5px 0 15px, rgb(51, 51, 51) -5px 0 15px;
        margin: 0 auto;
        min-height: 100%;
        min-width: 320px;
        max-width: 1124px;
        width: 100%;
    }

    body header img {
        display: block;
        width: 100%;
    }

/* Horizontal Navigation Styles */

    nav.horizontalNavigation a {
        display: block;
        background-color: rgb(100, 186, 239);
        font-family: billieBarred, cursive;
        font-size: 1em;
        line-height: 1.8em;
        text-align: center;
    }

    nav.horizontalNavigation a:link,
    nav.horizontalNavigation a:visited {
        color: rgb(170, 255, 255);
    }

    nav.horizontalNavigation a:hover,
    nav.horizontalNavigation a:active {
        background-color: rgb(9, 2, 229);
    }


    nav.horizontalNavigation li {
        display: block;
        float: left;
        width: 16.66%;
        padding-bottom: 10px;
    }

/* Footer Styles */

    body footer {
        display: block;
        background-color: rgb(110, 200, 249);
        text-align: center;
        clear: left;
        padding: 5px;
        border-style: solid;
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-left: none;
        border-right: none;
        border-color: rgb(171, 171, 171);
    }

    footer::after {
        display: table;
        content: "";
        clear: both;
    }



