@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(../fonts/billiebarred.woff) format('woff'),
    url(../fonts/billiebarred.ttf) format('ttf');
}

@font-face {
    font-family: "QuartZite";
    src: url(../fonts/SF-Quartzite-Shaded.ttf.woff) format('woff'),
    url(../fonts/SF-Quartzite-Shaded.ttf) format('ttf');
}

@font-face {
    font-family: "Sony Sketch";
    src: url(../fonts/Sony-Sketch-EF.ttf) format('ttf'),
    url(../fonts/Sony-Sketch-EF.ttf.woff) format('woff');
}

/*
    Build and Repair Service website
    Author: Dmitrii Sumenko
    Date: 8/01/2022

    Filename: gallery_styles.css

    This file contains the layout and styles for gallery.html

*/

/* BASE STYLES FOR ALL SCREEN SIZES */

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        color: cornflowerblue;
        text-shadow: aqua 2px 2px;
        border-bottom: navy 6px double;
        width: 40%;
        margin: 40px auto 40px auto;
        text-align: center;
        padding-bottom: 20px;
    }

    div.builds {
        width: 100%;
        margin: 20px auto;
        display: block;
        float: left;
    }

    div.builds img {
        border-radius: 10px;
        border-color: black;
        border-style: solid;
        width: 60%;
        height: auto;
        margin: 20px auto;
    }

    article a {
        font-family: "Agency FB", fantasy;
        font-size: 2em;
        font-weight: bolder;
        text-decoration: none;
        margin-left: 45%;
        padding-bottom: 20px;
        display: block;
    }
   article a:hover {
        color: red;

    }

   article h1 {
       color: dodgerblue;
       font-family: "Sony Sketch", "Lucida Sans", sans-serif;
       font-size: 2em;
       width: 60%;
       margin: 40px auto;
   }

/*       ===========================
         Mobile Styles: 0px to 640px
         ===========================
*/

@media only screen and (max-width: 640px) {

/* other styles*/

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 80%;
    }

    article h1 {
        color: dodgerblue;
        font-family: "Sony Sketch", "Lucida Sans", sans-serif;
        font-size: 2em;
        width: 80%;
        margin: 40px auto;
    }

    article a {
        font-family: "Agency FB", fantasy;
        font-size: 2em;
        font-weight: bolder;
        text-decoration: none;
        margin-left: 35%;
        padding-bottom: 20px;
        display: block;
    }
}

/*       =========================================
         Tablet Styles: 641px and less than 1007px
         =========================================
*/

@media only screen and (min-width: 641px) and (max-width: 1007px){


/* other styles */

    h1#title{
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }

    article h1 {
        color: dodgerblue;
        font-family: "Sony Sketch", "Lucida Sans", sans-serif;
        font-size: 2em;
        width: 80%;
        margin: 40px auto;
    }

    article a {
        font-family: "Agency FB", fantasy;
        font-size: 2em;
        font-weight: bolder;
        text-decoration: none;
        margin-left: 40%;
        padding-bottom: 20px;
        display: block;
    }
}

/*       ==================================
         Desktop Styles: 1008px and greater
         ==================================
*/

@media only screen and (min-width: 1008px) {

}
