@charset "utf-8";

@font-face {
    font-family: "billieBarred";
    src: url(../fonts/billiebarred.woff) format('woff'),
    url(../fonts/billiebarred.ttf) format('ttf');
}

@font-face {
    font-family: "QuartZite";
    src: url(../fonts/SF-Quartzite-Shaded.ttf.woff) format('woff'),
    url(../fonts/SF-Quartzite-Shaded.ttf) format('ttf');
}

@font-face {
    font-family: "Sony Sketch";
    src: url(../fonts/Sony-Sketch-EF.ttf) format('ttf'),
    url(../fonts/Sony-Sketch-EF.ttf.woff) format('woff');
}

/*
    Build and Repair Service website
    Author: Dmitrii Sumenko
    Date: 11/07/2022

    Filename: how_to_styles.css

    This file contains the layout and styles for how_to.html

*/

/* BASE STYLES FOR ALL SCREEN SIZES */


    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        color: cornflowerblue;
        text-shadow: blue 2px 2px 15px, red -2px -2px 15px, black 1px 1px 4px;
        border-bottom: navy 6px double;
        width: 40%;
        margin: 40px auto 40px auto;
        text-align: center;
        padding-bottom: 20px;
        cursor: default;
    }

    h2 {
        font-size: 1.4em;
        cursor: pointer;
        background: url(/img/plus.png) no-repeat left center;
        background-size: 20px;
        width: 80%;
        margin: 0 auto;
        padding-left: 25px;
    }

    h2.minus {
        background: url(/img/minus.png) no-repeat left center;
        background-size: 20px;
    }

    h2 a {
        color: cornflowerblue;
        text-shadow: blue 1px 1px;
        text-decoration: none;
        line-height: 2em;
    }

    h2 a:focus, h2 a:hover {
        color: green;
    }

    h3#how_to {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 25px;
        font-family: Calibri, Tahoma, serif;
        font-size: 1.4em;
        font-weight: normal;
        border-bottom: double green;
    }

    h3#how_to a {
        font-size: 1.2em;
        text-decoration: none;
        color: green;
    }

    div.hide {
        display: none;
    }

    div.open {
        display: block;
    }

    article p {
        display: block;
        font-family: Arial, serif;
        font-size: 1.4em;
        padding-bottom: .25em;
        padding-left: 25px;
        width: 80%;
        margin: 0 auto;
    }

    article#faqs {
        display: block;
        margin: 0 auto 40px auto;
        width: 80%;
    }

    div#tips {
        display: block;
        margin: 0 auto 40px auto;
        width: 80%;
        font-family: Calibri, Tahoma, serif;
        font-size: 1.4em;
    }

    img#fix {
        width: 70%;
        height: auto;
        margin: 40px auto;
    }

/*       ===========================
         Mobile Styles: 0px to 640px
         ===========================
*/

@media only screen and (max-width: 640px) {

/* other styles*/

    h1#title {
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        width: 70%;
    }

    h2 {
        font-size: 120%;
        padding: .25em 0 .25em 25px;
        cursor: pointer;
        background: url(/img/plus.png) no-repeat left center;
        background-size: 20px;
    }

    article h2.minus {
        background: url(/img/minus.png) no-repeat left center;
        background-size: 20px;
    }

    article h2 a {
        color: cornflowerblue;
        text-shadow: blue 1px 1px;
        text-decoration: none;
        line-height: 3em;
    }

    article h2 a:focus, article h2 a:hover {
        color: green;
    }

    div.hide {
        display: none;
    }

    div.open {
        display: block;
    }

    article p {
        padding-bottom: .25em;
        padding-left: 25px;
        width: 300px;
    }

    article#faqs {
        display: block;
        width: 90%;
    }
}

/*       =========================================
         Tablet Styles: 641px and less than 1007px
         =========================================
*/

@media only screen and (min-width: 641px) and (max-width: 1007px){

    h1#title{
        font-family: "Sony Sketch", Verdana, Geneva, sans-serif;
        font-size: 2.5em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 120%;
        padding: .25em 0 .25em 25px;
        cursor: pointer;
        background: url(/img/plus.png) no-repeat left center;
        background-size: 20px;
    }

    h2.minus {
        background: url(/img/minus.png) no-repeat left center;
        background-size: 20px;
    }

    h2 a {
        color: cornflowerblue;
        text-shadow: blue 1px 1px;
        text-decoration: none;
        line-height: 3em;
    }

    h2 a:focus, h2 a:hover {
        color: green;
    }

    div.hide {
        display: none;
    }

    div.open {
        display: block;
    }

    h2 p {
        padding-bottom: .25em;
        padding-left: 25px;
    }

    /* other styles */
}

/*       ==================================
         Desktop Styles: 1008px and greater
         ==================================
*/

@media only screen and (min-width: 1008px) {

}
